<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestNSDefault.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>916697981D4C1BED0023049B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916697AC1D4C1BED0023049B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916697B71D4C1BED0023049B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
